@import 'palette';

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 744px;
  margin-left: 89px;
  margin-right: 100px;

  h1 {
    font-size: 33px;
    font-weight: 700;
    color: $color4;
  }

  .items {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}
