@import "palette";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  margin-top: 30px;

  &.headerFullWidth {
    justify-content: flex-end;
  }

  .homeLink {
    display: flex;
    align-items: center;
    color: $color3;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: '';
      display: block;
      width: 10px;
      height: 17px;
      background-image: url("../assets/arrow.png");
      background-repeat: no-repeat;
      margin-right: 10px;
    }
  }
}
