.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.loaderText {
  color: #000000;
  padding-bottom: 40px;
  font-size: 30px;
}

.spinner {
  background-image: url("spinner.gif");
  position: relative;
  width: 60px;
  height: 60px;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}
