@import 'palette';

.dashboard {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto';

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      margin-top: 77px;

      h1 {
        font-size: 33px;
        font-weight: 700;
        color: $color4;
        margin-bottom: 30px;
      }

      .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 744px;
        margin-left: 89px;
        margin-right: 100px;

        .items {
          margin-top: 24px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
      }
    }
  }
}

.fullWidth {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.isFlex {
  justify-content: space-around;
  margin-top: 47px;
}

.sidebar {
  width: 499px;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.female {
    background-image: url('../assets/woman.png');
  }

  &.male {
    background-image: url('../assets/man.png');
  }
}

